<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" th:href="@{/}">Registration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            <a th:href="@{/login}" class="nav-item nav-link">Login</a>
            <a class="nav-item nav-link" href="#">Contact us</a>

        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4 "></div>
        <div class="col-md-4">
            <h1>Login Form</h1>
            <br/>
            <form th:action="@{/login}" th:object="${loginForm}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" name="password" autofocus="autofocus">
                </div>
                <input type="submit" value="Log In"/>
                <a th:href="@{/registration}">New User ? </a>
            </form>
        </div>
        <div class="col-md-4 "></div>
    </div>
</div>

</body>
</html>